body {
    margin: 0;
    padding: 0;
}

.navbar {
    opacity: 0.8;
    border: 1px solid #fff;
}

.brd {
    border: 1px solid black;
}

.jumbotrun {
    padding-top: 100px;
    padding-bottom: 80px;
}