* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgb(80, 80, 80);
  padding: 16px;
  color: white;
}

.container section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
}

.container {
  height: 100vh;
  background: rgb(255, 255, 255);
}

.main__footer h2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}


.main__footer i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.person,
.h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.people {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(white, rgb(27, 27, 27));
}

.person {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.avatar {
  height: 100px;
  margin: 25px;
  padding: 20px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
}

.person span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 25px;
}

.footer__allrights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgb(27, 27, 27), black);
    color: white;
    padding-top: 5em;
    padding-bottom: 15px;
}

.footer__icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    padding-bottom: 30px;
  
}
.altyazi {
  display: flex;
  justify-content: center;
  padding-top:25px ;
}
.fab {
    cursor: pointer;
}



.fa-apple:hover {
    color: gray;
    background-image: linear-gradient(gray, black);
    padding: 16px;
    border-radius: 50px;
    transition: all 0.7;
}

.fa-android:hover {
    color: green;
    background-image: linear-gradient(rgb(21, 173, 21), black);
    padding: 16px;
    border-radius: 50px;
    transition: all 0.7;
}

.fa-facebook:hover {
    color: blue;
    background-image: linear-gradient(rgb(95, 95, 247), black);
    padding: 16px;
    border-radius: 50px;
    transition: all 0.7;
}

.fa-twitter:hover {
    color: rgb(0, 113, 165);
    background-image: linear-gradient(rgb(0, 113, 165), black);
    padding: 16px;
    border-radius: 50px;
    transition: all 0.7;
}

.fa-instagram:hover {
    color:brown;
    background-image: linear-gradient(rgb(168, 57, 57), black);
    padding: 16px;
    border-radius: 50px;
    transition: all 0.7;
}

.info {
    display: inline-block;
    padding: 50px;
    margin-left: 50em;
    margin-right: 50em;
    background: rgba(0, 255, 255, 0.171);
    
}
.info> h3 {
    display: flex;
    justify-content: center;
    font-size: 30px
}
